<!DOCTYPE html>
{% extends "first_app/base.html" %}

{% block tittle %} About {% endblock %}

{% block content %}

<h3>Welcome to About Page</h3>

{% endblock %}
















<!-- <!DOCTYPE html>
<head>
    <title>About Page</title>
</head>
<body>
    <h1>Welcome to About Page</h1>
    <ul>
        <li><b>lower filter : </b><b>{{value| lower}}</b></li>
        <li><b>length filter : </b><b>{{value | length}}</b></li>
        <li><b>title filter : </b> <b>{{value | title}}</b></li>
        <li><b>make_list filter : </b> <b>{{value | make_list}}</b></li>
        <li><b>cut filter : </b> <b>{{value | cut:" "}}</b></li>
    </ul>
</body> -->

